@model IEnumerable<CA2ArtGallery1.Models.Style>

@{
    ViewData["Title"] = "Home";
}
<!Doctype html>
<html>
<head>
    <link href="@Url.Content("~/css/Index.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />

    <style>
        .navbar-brand {
            color: black !important;
        }
        .navbar {
            background-color: white !important;
        }

        .nav-link {
            color: black !important;
        }
        .backGround-video {
            
            z-index: -1;
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }

    @*@media(min-aspect-ratio:10/16) {
        .backGround-video {
            width: 100%;
            height: auto;
        }
    }

    @media(max-aspect-ratio:10/16) {
        .backGround-video {
            width: auto;
            height: 100%;
        }
    }*@
        h1 {
            text-align: center;
            font-size: 50px;
            color: white;
            font-weight: 600;
            z-index: 1;
            padding-top: 50px;
            padding-left:60px;
            padding-bottom: 40px;
            position:relative;
        }
        h2 {
            text-align: center;
            font-size: 30px;
            color: #fff;
            font-weight: 600;
        }
       /* .video-container{
            height: 200px;
        }*/
        .card-header{
            background-color: #59cfc8;
        }
        .card-body {
            background-color: #7437d3;
        }
        .card bg-success text-white {
            background-color:#fd5861;
        }

    </style>
</head>


<body class="body-background">
    <h1>Welcome to the Gallery Of Ireland</h1>
    <video autoplay loop muted plays-inline  class="backGround-video">

        <source src="~/Videos/istockphoto-1201789510-640_adpp_is.mp4" type="video/mp4" />
    </video>

    <div class="text-center">


        <div class="text-left">



            <div class="card bg-primary text-white">
                <div class="card-header">
                    Young Artists showcase their productions and you have the ability to purchase your favourite works!!
                </div>
                <div class="card-body">
                    Buy artwork & support
                    Our community of artists!
                    Established in 2006 Gallery of Ireland IRL online art gallery has grown from one artist with a vision into a community of artists all striving
                    for the same goal-to offer unique original artwork and paintings for sale at affordable prices. When you buy through our gallery you are supporting
                    individual professional artists to fulfil a career in their creative industry and you are buying directly from the artist.

                    Gallery Of Ireland is a marketplace where people who appreciate fine art can explore and discover art that tells a story.
                    At Gallery of Ireland we make it our business to work with novice and experienced art investors and collectors.

                    The purchase of artwork should be a marriage of an enriching and sophisticated appreciation of contemporary art and the financial
                    satisfaction of investment performance.


                </div>


                <h2>Brouse Your Favourite Style of Art by clicking on the icons below:</h2>


                <div class="grid-container">


                    @foreach (CA2ArtGallery1.Models.Style item in Model)
                    {
                        <div class="grid-item">
                            <a class="buttonStyle" asp-controller="Painting" asp-action="Index" asp-route-id="@item.StyleId">
                                <img src="~/images/Abstract.JPG"><figcaption>@item.StyleName</figcaption>
                            </a>
                        </div>

                    }
                    @*<div class="grid-item"><img src="~/images/Abstract.JPG"><figcaption>Abstract</figcaption></div></a>
                        <div class="grid-item"><img src="~/images/Comtemporary.JPG"><figcaption>Comtempory</figcaption></div>
                        <div class="grid-item"><img src="~/images/Impressionism.JPG" /><figcaption>Impressionism</figcaption></div>
                        <div class="grid-item"><img src="~/images/Drawings.JPG"><figcaption>Drawings</figcaption></div>
                        <div class="grid-item"><img src="~/images/IrishScenary.JPG" /><figcaption>IrishScenary</figcaption></div>*@
                </div>



            </div>


            <div class="card bg-warning text-white">
                <div class="card-header">
                    Only Original Art
                </div>
                <div class="card-body">
                    You will find only original art on our site - that‘s a promise.

                    From paintings for sale, drawings of pets or breathtaking photography, we have something for everyone.

                    You can search our gallery using our search facility which allows you to narrow down your search by style, medium used, price or just select your favorite artist.
                    It's never been easier to own affordable artwork.
                    At Yield Gallery we make it our business to work with novice and experienced art investors and collectors.

                    The purchase of artwork should be a marriage of an enriching and sophisticated appreciation of contemporary art and the financial satisfaction of investment performance.



                </div>

            </div>

            <div class="card bg-success text-white">
                <div class="card-header">Buy With Finance</div>
                <div class="card-body">
                    Buy with 0% Finance
                    Found a beautiful piece of original artwork in our gallery, but would prefer to spread the cost?. Own Art has made it easy and affordable to
                    buy original artwork. Simply choose our 'own art scheme' at the checkout.
                </div>
            </div>

            <div class="card bg-success text-white">
                <div class="card-header">
                    ArtWork Terminology

                </div>

                <div class="card-body">
                    We know the art market can sometimes be dizzying to navigate through the landscape so we have broken down the terminology in simple terms so you can always
                    make an educated purchase.
                    Acrylic – A rival to oil paint, coloured pigment is held in a clear plastic solution. It provides bright, long-lasting colour.

                    Canvas – The classic substrate for painting, canvas is a heavy fabric stretched over a wooden frame.

                    Condition – You would expect a primary market piece to be in perfect condition. Artwork that hasn’t been stored correctly or travelled in bad conditions may be ‘poor’ ‘damaged’ ‘crazed’ ‘deteriorated’

                    Conservation – A very skilled technique to repair damage and deterioration.

                    What is a print – A print is an impression created by any method involving a transfer from one surface to another.

                    What is a screen-print – A screen-print is a printmaking technique in which a piece of woven fabric is stretched over a wooden frame in order to create a screen. There is no difference between a silkscreen or screen-print.

                    What is a limited edition - A print made in limited quantity, each piece will have an edition number so that, say, 5/100 would be the 5th print of an edition of 100.

                    Originals vs Editions vs Multiples

                    Original prints are produced in a limited number of impressions. These impressions are called editions, say, 26/50, where 50 is the edition amount and 26 is the individual print number.

                    Multiples are still produced in a limited number of editions and can vary in materials. Some prints may be marked or signed with ‘AP’ meaning ‘artists proof’. Many other proofs may be produced before the ‘AP’ such a tester proofs, colour proofs or state proofs.



                </div>

            </div>
        </div>


    </div>
</body>
</html>
