@model IEnumerable<CA2ArtGallery1.ViewModels.PaintingArtistViewModel>
<h1>Gallery</h1>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p>@item.Id</p>
            </td>
            <td>
                <p>@item.thisArtist.Blog</p>
            </td>
        </tr>
}
    </tbody>
</table>
